{% extends "new_base.html" %}

{% block content %}
<div style="margin-top: 100px">
<h3>Регистрация</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}
<div class="site-form">
  <form method="POST" action="/signup">
    <div class="form-field">
      <input class="form-input" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-field">
      <input class="form-input" type="text" name="name" placeholder="Имя">
    </div>
    <div class="form-field">
      <input class="form-input" type="text" name="discord" placeholder="Discord">
    </div>
    <div class="form-field">
      <input class="form-input" type="text" name="steam" placeholder="Steam">
    </div>
    <div class="form-field">
      <input class="form-input" type="password" name="password" placeholder="Пароль">
    </div>
    <button class="button-form">Создать аккаунт</button>
  </form>
</div>
</div>
{% endblock %}